:root {
  --blue: #187498;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
}

/*required map size*/
.leaflet-container {
  height: 100vh;
  width: 100%;
  background-color: #696969 !important;
}

.leaflet-control {
  z-index: 0 !important;
}

.leaflet-esri-labels-pane {
  z-index: 450 !important;
}

.leaflet-top {
  z-index: 0 !important;
}

.leaflet-bottom {
  z-index: 999 !important;
}

.leaflet-control-attribution {
  color: white !important;
  background: none !important;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5) !important;
}

.leaflet-container a {
  color: white !important;
  text-overflow: ellipsis !important;
}

.glass {
  background-color: rgba(230, 230, 230, 0.4) !important;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px) !important;
}

.geosearch-control {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  background: white;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  pointer-events: "auto";
  cursor: "none";
}

.geosearch-input {
  width: 230px;
  padding: 6px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.suggestions {
  margin-top: 8px;
}

.suggestion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #f1f1f1;
}

.suggestion span {
  font-size: 0.9em;
}

.suggestion button {
  padding: 4px 6px;
  font-size: 0.9em;
  cursor: pointer;
  background-color: #0078d4;
  color: white;
  border: none;
  border-radius: 4px;
}

.leaflet-bar.leaflet-control {
  border: none;
}

.leaflet-control {
  margin-top: 63px !important;
}

.app-bar {
  min-height: 53px !important;
}

.leaflet-popup-content {
  width: auto !important;
}

.leaflet-popup-content-wrapper {
  background-color: transparent !important;
  box-shadow: none !important;
}

.leaflet-popup-content,
.leaflet-popup-content p {
  margin: 0 !important;
}

.leaflet-popup-tip-container {
  height: 56px;
  overflow: auto;
}

.leaflet-popup-tip {
  width: 4px;
  height: 56px;
  padding: 1px;
  margin: 0px auto 0;
  pointer-events: auto;
  transform: rotate(0deg);
  background: var(--joy-palette-primary-500, #0b6bcb);
  box-shadow: none;
}

.regular-marker {
  height: 15px;
  width: 30px;
  background-color: var(--joy-palette-primary-500, #0b6bcb);
  border-radius: 50%;
  box-sizing: border-box;
}

.pulsating-marker {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 30px;
  height: 30px;

  &:before {
    content: "";
    position: relative;
    display: block;
    width: 300%;
    height: 300%;
    box-sizing: border-box;
    margin-left: -100%;
    margin-top: -100%;
    border-radius: 45px;
    background-color: #01a4e9;
    animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  }

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  }
}

@keyframes pulse-ring {
  0% {
    transform: scale(0.33);
  }

  80%,
  100% {
    opacity: 0;
  }
}

.legend-container {
  position: absolute;
  bottom: 20px;
  right: 10px;
  background: #e3effb !important;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 999; /* Ensures the legend stays on top */
}

.legend-units {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  color: #12467b;
  margin: 5px 0;
  width: 36px; /* Set the desired width */
  word-wrap: break-word; /* For older browsers */
  overflow-wrap: break-word; /* Standard property */
  white-space: normal; /* Allow text to wrap */
}

.legend-scale {
  background-color: #696969 !important;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* Standard size for both legends */
.legend-discrete,
.legend-continuous {
  width: 36px;
  height: 450px; /* 320px */
  display: flex;
  flex-direction: column-reverse; /* Ensures values go from bottom to top */
  align-items: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* Discrete Mode: List items should have no gaps */
.legend-discrete {
  background: none; /* No background gradient */
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start; /* Ensures no gaps */
}

.legend-discrete .legend-item {
  width: 100%;
  flex: 1; /* Ensures all items take equal space */
  text-align: center;
  color: white;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

/* Continuous Mode: Gradient Background */
.legend-continuous {
  justify-content: space-between; /* Spread items evenly */
  padding: 0;
  margin: 0;
}

/* Spread legend values evenly in Continuous Mode */
.legend-continuous .legend-item {
  width: 100%;
  flex: 1; /* Makes each item take equal vertical space */
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  --loader: rgb(255, 255, 255);
  --loader-size: 30px;
  position: relative;
  width: 50px;
  height: 20px;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 2px;
}

.loader span {
  position: absolute;
}

.loader span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: var(--loader-size);
  background: linear-gradient(90deg, transparent, var(--loader));
  animation: loader-anim1 1s linear infinite;
}

@keyframes loader-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.loader span:nth-child(2) {
  top: -100%;
  right: 0;
  width: var(--loader-size);
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--loader));
  animation: loader-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes loader-anim2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.loader span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: var(--loader-size);
  background: linear-gradient(270deg, transparent, var(--loader));
  animation: loader-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes loader-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.loader span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: var(--loader-size);
  height: 100%;
  background: linear-gradient(360deg, transparent, var(--loader));
  animation: loader-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes loader-anim4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}
