:root{
    --blue: #187498;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


#root {
    height: 100vh;
}

/*required map size*/
.leaflet-container {
    height: 100vh;
}

.leaflet-control {
    z-index: 0 !important
}

.leaflet-pane {
    z-index: 0 !important
}

.leaflet-top,
.leaflet-bottom {
    z-index: 0 !important
}

.glass-card{
    background-color: rgba(255, 255, 255, 0.4) !important;
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0)) !important;
    backdrop-filter: blur(7px);
}

.tooltip-municity-name{
    background-color: transparent;
    border: 0;
    box-shadow: none;
    color: var(--blue);
    text-shadow: 0px 0px 1px rgba(12, 59, 77, 0.5);
    
    font-weight: 400;
    font-family: "Inter Variable";
    letter-spacing: 1.5px;
}

.custom-tooltip{
    padding: 10px;
    margin-top: -15px;
}


