:root{
    --blue: #187498;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


#root {
    height: 100vh;
}

/*required map size*/
.leaflet-container {
    height: 100vh;
}

.leaflet-control {
    z-index: 0 !important
}

.leaflet-pane {
    z-index: 0 !important
}

.leaflet-top,
.leaflet-bottom {
    z-index: 0 !important
}

.glass-card{
    background-color: rgba(255, 255, 255, 0.4) !important;
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0)) !important;
    backdrop-filter: blur(7px);
}

.tooltip-municity-name{
    background-color: transparent;
    border: 0;
    box-shadow: none;
    text-transform: uppercase;
    font-weight: bolder;
    color: var(--blue);
    font-family: "Inter Variable";
}


