:root{
    --blue: #187498;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


#root {
    height: 100vh;
}

/*required map size*/
.leaflet-container {
    height: 100vh;
    width: 100%;
}

.leaflet-control {
    z-index: 0 !important
}

.leaflet-pane {
    z-index: 0 !important
}

.leaflet-top,
.leaflet-bottom {
    z-index: 0 !important
}

.glass {
    background-color: rgba(255, 255, 255, 0.4) !important;
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0)) !important;
    backdrop-filter: blur(7px);
}

.geosearch-control {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
    background: white;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    pointer-events: "auto";
    cursor: "none";
}

.geosearch-input {
    width: 200px;
    padding: 6px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.suggestions {
    margin-top: 8px;
}

.suggestion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #f1f1f1;
}

.suggestion span {
    font-size: 0.9em;
}

.suggestion button {
    padding: 4px 6px;
    font-size: 0.9em;
    cursor: pointer;
    background-color: #0078d4;
    color: white;
    border: none;
    border-radius: 4px;
}

.leaflet-bar.leaflet-control{
    border: none;
}

.leaflet-control{
    margin-top: 63px !important;
}

.app-bar{
    min-height: 53px !important;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip{
    background-color: transparent !important;
    box-shadow: none !important;
    
}

.leaflet-popup-content, .leaflet-popup-content p{
    margin: 0 !important;
}


